<div class="container">
  <div class="col-md-5 card-look mr-30">
    <div class="" style="padding:35px 50px;">
      <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
    </div>
    <div  style="padding:40px 50px;">
      <%= form_for(resource, as: resource_name, :html => { :id => "login-form" }, url: session_path(resource_name, role: "form")) do |f| %>
        <div class="field">
          <%= f.label :email do %>
          <span class="glyphicon glyphicon-user"></span>Email
          <% end %> <br />
          <%= f.email_field :email, autofocus: true, class: "form-control", id:"login-email", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password do %>
          <span class="glyphicon glyphicon-eye-open"></span> Password
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "login-password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <!-- <%= f.submit "Log in" %> -->
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block", id: 'validForm') do %>
            <span class="glyphicon glyphicon-off"></span> Login
          <% end %>
        </div>
      <% end %> 
    </div>
  </div>
  <div class="col-md-5 card-look">
    <div class="" style="padding:35px 50px;">
      <h4><span class="glyphicon glyphicon-lock"></span> SignUp</h4>
    </div>
    <div style="padding: 40px 50px;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email do %>
            <span class="glyphicon glyphicon-user"></span>Email
          <% end %> <br />
          <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password do %>
            <span class="glyphicon glyphicon-eye-open"></span> Password
          <% end %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation do %>
            <span class="glyphicon glyphicon-eye-open"></span> Password Confirmation
          <% end %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="actions">
          <!-- <%= f.submit "Sign up" %> -->
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block", id: 'validForm') do %>
            <span class="glyphicon glyphicon-off"></span> Sign Up
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
