<!DOCTYPE html>
<html>
  <head>
    <title>Bloganaire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  </head>
    <body ng-app="myAdmin" data-no-turbolink>
      <%= render partial: 'shared/header' %>
      <%if flash[:notice] %>
        <div class="flash" class="text-center devise-noty">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </body>
</html>
